<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cari Penduduk</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/mystyle.css" />
<style>
</style>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container">
		<div class="container-form">
			<h4>
				<center>Cari Penduduk</center>
			</h4>
			<form action="/penduduk/cari" method="get">
				<div class="form-group">
					<label for="kota">Kota</label><br></br>  <select 
						class="form-control form-control-sm" id="kota" name="kota" readonly="true">
						<option th:value="${kota.id}" th:text="${kota.nama_kota}" selected="selected"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="kecamatan">Kecamatan</label><br></br>  <select 
						class="form-control form-control-sm" id="selectKecamatan" th:name="'kecamatan'">
						<option th:value="${kecamatan.id}" th:each="kecamatan : ${listKecamatan}" 
							th:text="${kecamatan.nama_kecamatan}"></option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="submit" >Lihat</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>